@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title p {
  font-size: 22px;
  color: var(--mostarda);
}

.section-form {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

h1 {
  color: var(--marrom-escuro);
  font-size: 110px;
}

.container-form {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container-form .form-home {
  display: flex;
  gap: 10px;
  width: 100%;
}

.container-form input {
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  width: 100%;
}

.container-form input:focus {
  outline: none;
}

.container-form button {
  background-color: var(--marrom-escuro);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.container-form button:hover {
  cursor: pointer;
  background-color: var(--marrom-escuro-hover);
}

.out-form {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  width: 100%;
}

.out-form a {
  color: var(--mostarda);
  text-underline-offset: 3px;
  font-weight: 600;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}